@page
@model IndexModel
@{
    ViewData["Title"] = "Որոնում";
}

<form method="post" id="form">


    <div class="card-header">
        <h5>Ընտրությունների անցկացման մասնագիտական դասընթացներ</h5>
        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true">
                <i class="icon-arrow-up"></i>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body row">
            <div class="m-3 p-3 w-100">
                <div class="row margin-top-20">
                    <div class="col-12">
                         <h6 style="color:red">*Ուշադրություն թղթային տարբերակով վկայականներ չեն տրամադրվում։</h6>
                         <hr /> <br />
                        <h6>2021թ․ տեղամասային ընտրական հանձնաժողովում ընդգրկվելու մասնագիտական դասընթացների որակավորման վկայականների էլեկտրոնայն տարբերակին կարող եք ծանոթանալ դասընթացների ավարտից անմիջապես հետո։ </h6>
                        <hr />
                         <h6>Դրական է համարվում ստուգարքի արդյունքում 31 և ավելի միավորը։</h6>
                        <br />
                        <h6 style="color:green">*անուն և ազգանուն դաշտերը ենթակա են պարտադիր լրացման </h6>
                        <h6 style="color:red">*որոնման տվյալներում "և" տառի առկայության դեպքում լրացնել "եվ" տառերի համակցությունը: </h6>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-4">
                        <input class="form-control" type="text" asp-for="Input.FirstName" placeholder="անուն">
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" asp-for="Input.LastName" placeholder="ազգանուն">
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" asp-for="Input.Passport" placeholder="անձնագիր/ID">
                        <span asp-validation-for="Input.Passport" class="text-danger"></span>
                    </div>
                </div>

                <div class="row margin-top-20" style="padding-top:20px;">
                    <div class="col-4">
                        <div class="g-recaptcha" data-sitekey="@Model.CaptchaClientKey"></div>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(Model.ErrorMassage) || (Model.ShowResult == true))
                {
                    <span class="text-danger">@Model.ErrorMassage</span>
                }
                <div class="row margin-top-20" style="padding-top:20px;">
                    <div class="col-4" style="min-width:200px">
                        <a class="btn btn-danger text-white" onclick="Reset()">Մաքրել</a>
                        <button class="btn btn-primary text-white"><i class="cil-sync"></i> Որոնել</button>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>


    @if (Model.ShowResult == true)
    {
        @if (Model.Input.FirstName != null || Model.Input.LastName != null || Model.Input.Passport != null)
        {
            @if (Model.ResultList != null)
            {
                <div class="card">
                    <div class="card-body row">
                        <div class="m-3 p-3 w-100">
                            <div class="row margin-top-20">
                                <div class="col-12">

                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <center style="color:dodgerblue"> Անուն </center>
                                                </th>
                                                <th>
                                                    <center style="color:dodgerblue">  Հասցե </center>
                                                </th>
                                                <th>
                                                    <center style="color:dodgerblue"> Դասընթաց </center>
                                                </th>
                                                <th>
                                                    <center style="color:dodgerblue"> Միավոր </center>
                                                </th>
                                                <th>
                                                    <center style="color:dodgerblue"> Վկայական </center>
                                                </th>
                                                <th>
                                                    <center style="color:dodgerblue"> Ուժի մեջ է մինչև </center>
                                                </th>
                                            </tr>
                                        </thead>

                                        @if (Model.ResultList.Count == 0)
                                        {
                                            <h5 style="color:red">*Որոնման արդյունքում տվյալներ չգտնվեց</h5>
                                        }
                                        @if (Model.ResultList.Count == 1)
                                        {
                                            <tbody>
                                                @foreach (var item in Model.ResultList)
                                                {

                                                    <tr>
                                                        <td>@item.FullName</td>
                                                        <td>@item.Address</td>
                                                        <td>@item.TrainingCenter</td>
                                                        <td>@item.Points</td>
                                                        <td>@item.CertificateNumber</td>
                                                        <td>@item.Date</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }


                                        @if (Model.ResultList.Count > 1)
                                        {
                                            <tbody>
                                                <h6 style="color:orange">*Որոնման արդյունքում գտնվեց մեկից ավելի տվյալ, ստույգ տեղեկատվություն ստանալու համար ներմուծեք նաև անձը հաստատող փաստաթղթի համարը </h6>

                                                @foreach (var item in Model.ResultList)
                                                {
                                                    <tr>
                                                        <td>@item.FullName</td>
                                                        <td>@item.Address</td>
                                                        <td>@item.TrainingCenter</td>
                                                        <td>@item.Points</td>
                                                        <td>@item.CertificateNumber</td>
                                                        <td>@item.Date</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

    @section scripts{
        <script>
            function Reset() {
                $("#Input_FirstName").val(null);
                $("#Input_LastName").val(null);
                $("#Input_Passport").val(null);
                $("#ShowResult").val(false);
                $("form").submit();
            }
        </script>
    }
</form>





